*{
    margin: 0;
    padding: 0;
    text-decoration: none;


}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.container{
    height: 200vh;
    max-width: 100%;
    overflow: hidden;
    
    text-align: center;
    font-size: 1.5rem;
    position: relative;


}
.box{    height: 7vh;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    z-index: 7;
    border-bottom: 3px solid #ccc;
    padding: 15px 10px 7px 10px;
overflow: hidden;
background: white;

}
.h1{
    color: blue;
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.2rem;
    display: flex;
    margin: 0 5px 0 0;
}
.h1 i{
    font-size: 1rem;
    margin: 5px 0 0 0 ;
    transform: rotate(3deg);
    color: yellowgreen;
}
.in{
    position: relative;
display: flex;
margin: 0  5px 0 5px;
width: 57%;
}
.input{
    font-weight: 600;
    height: 6vh;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: absolute;
    padding-left: 5px;
z-index: 1;
box-shadow: 2px 2px rgb(240, 236, 236);
}
.search{
    z-index: 2;
position: absolute;
right: 0;
padding: 2.9%;
font-size: 1.6rem;
text-align: center;
border: #ccc 2px solid;
border-radius: 20px;
margin:0  -7px 0 0px;
background: whitesmoke;
border-radius: 10px;
border-right: none;

}

.search:hover{
    z-index: 2;
position: absolute;
right: 0;
padding: 2.9%;
font-size: 1.6rem;
text-align: center;
border: #ccc 2px solid;
margin:0  -7px 0 0;
background: rgb(221, 216, 216);
border-radius: 3px;
color: blueviolet;
border-radius: 10px;
border-right: none;
}
.search:focus{
    z-index: 2;
position: absolute;
right: 0;
padding: 2.9%;
font-size: 1.6rem;
text-align: center;
border: #ccc 2px solid;
margin:0  -7px 0 0;
background: rgb(221, 216, 216);
border-radius: 3px;
color: blueviolet;
border-radius: 10px;
border-right: none;
}
.bar{
    margin: 0 13px;
    font-size: 2rem;
}
.bar:hover{
    color: blueviolet;
}
.bar:active{
    color: blueviolet;
}

.side-nav{
    height: 51vh;
    width: 40%;
    position: fixed;
    z-index: 7;
    opacity: 0.9;
    top: 0;
    right: 0;
    background: #ccc;
    overflow-x: hidden;
    padding-top:60px ;
    transition: 0.5s;

}
.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: blue;
    display: block;
    transition: 0.3s;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: rgb(187, 182, 182) 2px solid;
}
.side-nav a:hover{
    color: #fff;
}
.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
}
.side-nav i{
    margin: 0 5px;
}
#main{
    position: relative;
    top: 5%;
    z-index: 1;

}

.img{
    border-radius: 10px;
    margin: 20px 20px 0 20px  ;
    height: 30vh; 
    border:2px solid #ccc;
    box-shadow: 2px 2px rgb(165, 226, 228);

}
.p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cadetblue;
    font-variant: small-caps;
    font-size: 1.6rem;
    animation-name: anime1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    margin: 15px 0;
    font-weight: 600;
}
@keyframes anime1{
    0%{
        color: cornflowerblue;
      
    }
    50%{
        color: rgb(73, 124, 219);
        font-size: 1.7rem;
    }

    100%{
        color: rgb(21, 80, 190);
        font-size: 1.7rem;
    }
    
}
.skills{
    height: 9vh;
    padding: 5px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    margin: 10px 0;
 border-top: #ccc 2px solid;

}
.skills a{
    padding: 5px;
    margin: 0 10px;
   color: black;
   border-radius: 10px;
}
.current{
    background: rgb(229, 226, 226);
    padding: 10px;
    height: 5vh;
    color: black;
    
}

.skilled{
    height: 30vh;
    width: 100%;
   
    
}

.meme{
    display: flex;
justify-content: space-between;
border-bottom: rgb(221, 216, 216) solid 2px;
padding: 10px;
background: rgb(245, 243, 241);

}
.fa-user-circle{
    color: blue;
    font-size: 2.5rem;
    margin: 0 9px;
}
.avat{
    display: flex;
    font-weight: 600;
    color: rgb(74, 238, 9);
    font-size: 1.6rem;
    margin: 0px 10px;
    font-variant: small-caps;
}

.avat p{
    display: grid;
    grid-template-rows: 30px;
    text-align: left;
}

.fa-star{
    color: rgb(6, 199, 243);

    font-size: 1rem;
    
}
.pa1{
    margin: 2px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #ccc 2px outset;
    padding: 5px;
    background: rgb(236, 236, 236);
    border-radius: 10px;
    color: black;

}

.pa1:focus{
    margin: 2px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #ccc 2px inset;
    padding: 5px;
    background: rgb(236, 236, 236);
    border-radius: 10px;
}
.sp{
    font-size: 1rem;
    color: rgb(104, 15, 173);
}
.imgu{
    height:50px;
    margin: 0 7px;
    border-radius: 50%;
}
/*post*/



.imgp{
    height:70px;
    margin: 0 0px;
    border-radius: 50%;
}


.post{
    margin: 10px;
    height: 30vh;
    display: grid;
    grid-template-rows: 5px;
}


.name{
    font-size: 2rem;
    font-family: cursive;
    margin-left: -60px;
    color: rgb(105, 15, 30);
}


.name i{
color: blue;

margin-left:-7px ;
}


.status{
    position: relative;
    height: 20vh;
    margin-left: -10px;
}
.post p{
    margin: 25px 10px 0 20px;

}


.imgpo{
    margin: 20px 20px 0 20px  ;
    height: 30vh; 
    border:2px solid #ccc;
    z-index: 3;
  

}

.react{
display: flex;
justify-content:space-around;
height: 4vh;
border: #ccc 2px solid;
margin:-8px   20px;
padding-top: 10px;
border-radius: 5px;
background: white;
box-shadow: rgb(228, 222, 222) 1px 1px;
font-size: 1.8rem;
color: purple;
z-index: 1;
}

.react i:hover{
    color: red;
}

.react i:focus{
    color
: red;
}








/*media queries*/

@media (min-width:760px){

    .box{
         height: 7vh;
        width: 100%;
        display: flex;
        position: fixed;
        left: 0;
        z-index: 7;
        border-bottom: 3px solid #ccc;
        padding:20px;
    overflow: hidden;
    background: white;
    
    }
    .h1{
        color: blue;
        font-variant: small-caps;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4rem;
        display: flex;
        margin:10px;
    }
    .h1 i{
        font-size: 2.5rem;
        margin: 5px 0 0 0 ;
        transform: rotate(3deg);
        color: yellowgreen;
    }
    .in{
        position: relative;
    display: flex;
    margin: 10px  10px 0 20px;
    width: 31%;
    left:5%;
    }
    .input{
        font-weight: 500;
        height: 6vh;
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 10px;
        position: absolute;
        padding-left: 10px;
    z-index: 1;
    box-shadow: 2px 2px rgb(240, 236, 236);
    font-size: 2rem;
    
    }

    .input:hover{
      
box-shadow: 2px 2px rgb(167, 129, 202);
outline:1px solid #ccc;
    }
    
    .input:active{
      
box-shadow: 2px 2px rgb(167, 129, 202);
outline:1px solid #ccc;
    }

    .search{
        z-index: 2;
    position: absolute;
    right: 0;
    padding: 2.3%;
    font-size: 2rem;
    text-align: center;
    border: #ccc 2px solid;
    border-radius: 20px;
    margin:0  -11px 0 0px;
    background: whitesmoke;
    border-radius: 10px;
    border-right: none;
    
    }
    
    .search:hover{
        z-index: 2;
    position: absolute;
    right: 0;
    padding: 2.3%;
    font-size: 2rem;
    text-align: center;
    border: #ccc 2px solid;
    border-radius: 20px;
    margin:0  -11px 0 0px;
    background: rgb(224, 219, 219);
    border-radius: 10px;
    border-right: none;
    color: rgb(3, 3, 97);
    }

    .search:active{
        z-index: 2;
    position: absolute;
    right: 0;
    padding: 2.3%;
    font-size: 2rem;
    text-align: center;
    border: #ccc 2px solid;
    border-radius: 20px;
    margin:0  -11px 0 0px;
    background: rgb(224, 219, 219);
    border-radius: 10px;
    border-right: none;
    color: rgb(3, 3, 97);
    }

    .bar{
opacity: 0;
    }
   
    
    .side-nav{
        display: flex;
        background: white;
        height: 5vh;
        overflow-x: visible;
        position: absolute;
        top: -1%;
        border: none;
        text-decoration: none;
        width: 50%;
    
    }
    .side-nav a{
        padding: 10px;
        text-decoration: none;
        font-size: 1.9rem;
        color: blue;
        transition: 0.3s;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        
    }
    .side-nav a:hover{
        color: #ccc;
    }
    .side-nav .btn-close{
        position: absolute;
        top: -50%;

    }
    .side-nav i{
        margin: 0 5px;
    }
    #main{
        position: relative;
        top: 5%;
        z-index: 1;
    
    }
    
    .img{
        border-radius: 10px;
        margin: 0px 60px 0 20px  ;
        height: 40vh; 
        width: 90%;
        border:2px solid #ccc;
        box-shadow: 5px 5px rgb(165, 226, 228);
    
    }
    .p1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: cadetblue;
        font-variant: small-caps;
        font-size: 3rem;
        animation-name: anime1;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-direction: alternate;
        margin: 15px 0;
        font-weight: 600;
    }
    @keyframes anime1{
        0%{
            color: cornflowerblue;
          
        }
        50%{
            color: rgb(73, 124, 219);
            font-size: 2.5rem;
        }
    
        100%{
            color: rgb(21, 80, 190);
            font-size: 3.1rem;
        }
        
    }
    .skills{
        height: 9vh;
        padding: 5px;
        width: 100%;
        overflow-x: scroll;
        display: flex;
        margin: 10px 0; 
     border-top: #ccc 2px solid;
    
    }
    .skills a{
        padding: 5px;
        margin: 0 10px;
       color: black;
       border-radius: 10px;
    }
    .current{
        background: rgb(229, 226, 226);
        padding: 10px;
        height: 5vh;
        color: black;
        
    }
    .ffl{
        display: flex;
        margin-top: 30px;
    }
    .skilled{
        height: 30vh;
        width: 50%;
       margin-right: 100px;
        
    }
    
    .meme{
        display: flex;
    justify-content: space-between;
    border-bottom: rgb(221, 216, 216) solid 2px;
    padding: 25px;
    background: rgb(245, 243, 241);
    
    }
    
    .avat{
        display: flex;
        font-weight: 600;
        color: rgb(74, 238, 9);
        font-size: 2.5rem;
        margin: 2px 20px;
        font-variant: small-caps;
    }
    
    .avat p{
        display: grid;
        grid-template-rows: 50px;
        text-align: left;
        
    }
    
    .fa-star{
        color: rgb(6, 199, 243);
        font-size: 2rem;
    }
    .pa1{
        margin: 2px 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: #ccc 2px outset;
        padding: 25px 15px 0px 15px;
        background: rgb(236, 236, 236);
        border-radius: 10px;
        color: black;
        font-weight: 600;
        font-size: 2rem;
        
    }
    
    .pa1:focus{
        margin: 2px 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: #ccc 2px inset;
        padding: 25px 15px 0px 15px;
        background: rgb(236, 236, 236);
        border-radius: 10px;
        font-weight: 600;
    }
    .sp{
        font-size: 2rem;
        color: rgb(104, 15, 173);
    }
    .imgu{
        height:8vh;
        margin: 0 25px;
        border-radius: 50%;
    }
    /*post*/
    
    
    
    .imgp{
        height:10vh;
        margin: 10px;
        border-radius: 50%;
    }
    
    
    .post{
        margin: 10px;
        height: 35vh;
        display: grid;
        grid-template-rows: 5px;
        padding: 5px;
    }
    
    
    .name{
        font-size: 3rem;
        font-family: cursive;
        margin: 40px 0 0 -270px;
        color: rgb(105, 15, 30);
    }
    
    
    .name i{
    color: blue;
    
    margin-left:-7px ;
    }
    
    
    .status{
        position: relative;
        height: 20vh;
        margin-left: -10px;
    }
    .status p{
        margin: -70px 30px 0 30px;
        font-size: 2.5rem;
        width: 800px;
    }
    .post p{
        margin: 25px 10px 0 20px;
    
    }
    
    
    .imgpo{
        margin: 20px 20px 0 20px  ;
        height: 45vh; 
        border:2px solid #ccc;
        z-index: 3;
      
    
    }
    
    .react{
    display: flex;
    justify-content:space-around;
    height: 5vh;
    border: #ccc 2px solid;
    margin:-8px   20px;
    padding-top: 12px;
    border-radius: 5px;
    background: white;
    box-shadow: rgb(228, 222, 222) 1px 1px;
    font-size: 3rem;
    color: purple;
    z-index: 1;
    }
    
    .react i:hover{
        color: red;
    }
    
    .react i:focus{
        color
    : red;
    }
    
}
/*login*/
.h{
    color: blue;
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5rem;
    position: absolute;
    margin: 20px 3px;
    text-align: center;
    animation-name: colo;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    left: 30%;
    text-shadow: 4px 4px rgb(178, 97, 255);
    
}
.h i{
    font-size: 2rem;
    margin:0 0 0 -25px;
    color: yellowgreen;
}

@keyframes colo {
    0%{
        color: yellowgreen;
        top: -20%;
    }
    25%{
        color: rgb(172, 255, 5);
        top: -10%;
    }
    50%{
        color: rgb(218, 205, 24);
        top: -5%;
    }
    75%{
        color: rgb(255, 233, 34);
        top: 0%;
    }
    100%{
        color: yellow;
        top: 2%;
    }
}

.formm{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 13%;
    padding: 10px;
    text-transform: capitalize;
}

.h2a{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px ;
    font-size: 1.6rem;
}
.signinwith{
    height: 12vh;
    text-align: center;
    padding: 20px;
    display: flex;
    border-bottom: #ccc 1px solid;


}
.google,.fb{
    padding: 15px;
    margin: 10px;
border-radius: 10px;
height: 5vh;

}
.google{
    background: rgb(96, 96, 255);
    color: white;
    font-size: 1.5rem;
}
.fb{
    color: blue;
    background: #ccc;
    font-size: 1.7rem;
}
.or{
    position: relative;
    top: -3.5%;
    font-size: 2rem;
    font-family: cursive;
    height: 52px;
    width: 57px;
background: white;
border-radius: 10px;
left: 43%;
}


.form{
    height: 30vh;
    width: 100%;
    padding:0px 30px 5px;
    text-align: left;
    
}
label{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
margin: 15px 0;
}

.loginput{
    width: 80%;
    height: 7vh;
    margin: 15px 0;
    background: #ccc;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

.forget{
margin: 0 50px 0 30px;
}
.sig button{
    width: 80%;
    height: 7vh;
    margin: 7px 0;
    text-align: center;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    background: rgb(212, 94, 134);
    color: white;
    transition: all;
    transition-delay: 1s;
}
.sig button:hover{
    background: rgb(178, 68, 104);
    color: rgb(238, 230, 230);
}

.sig button:active{
    background: rgb(178, 68, 104);
    color: rgb(238, 230, 230);
}
.signup{
    font-size: 1.6rem;
    margin: 10px;
    }
    